.idea
.git

api/les_1/venv

api/les2/.env
api/les2/.idea
api/les2/.env
api/les2/venv

api/les_4/.idea
api/les_4/venv
api/les_/image

asyn/les_1/.idea
asyn/venv

bot/les_1/.env
bot/les_1/.idea
bot/les_1/venv



